.search-toggle-container {
  display: flex;
  justify-content: left;
}

.search-toggle-btn {
  margin: 10px 20px;
  padding: 8px 16px;
  background-color: #232d38;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.search-toggle-btn:hover {
    background-color: #4498ff;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}


.search-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 300px;
}

.search-input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.search-input::placeholder {
  color: #666;
}
